<!DOCTYPE html>
<html>
<head>
  <title>TxiRailsHologram</title>
  <%= stylesheet_link_tag    "txi_rails_hologram/application", media: "all" %>
  <%= javascript_include_tag "txi_rails_hologram/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
