<div class="sg--codeExample">
  <div class="sg--exampleOutput">
    <%= rendered_example %>
  </div>
  <div class="sg--codeBlock">
    <div class="sg--highlight">
      <pre><%= code_example %></pre>
    </div>
  </div>
</div>
